@import './settings/colors';
@import './settings/fonts';

.app__footer {
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 99;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 11rem;

    .app__footer-empty {
        width: 200px;
    }

    .app__footer-rights {
        width: 200px;
        font-size: 14px;
        font-weight: 400px;
        font-family: $primaryFont;
        color: $textColor;
    }

    .app__footer-social {
        width: 200px;
        display: flex;
        align-self: flex-start;
        justify-content: flex-end;
        padding-bottom: 20px;
        img {
            margin-left: 20px;
        }
    }
}